@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #fdf6ec;
  /* Malli Poo Base Color */
  --foreground: #4a2c0a;
  /* Dark brown text */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
}